.card-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
  margin: 0 8%;
  border-top: 1px solid $gray-border;

  &::after {
    position: absolute;
    bottom: 0;
    width: 116%;
    height: 1px;
    margin: 0 -8%;
    content: '';
    background-color: $gray-border;
  }
}

.card-cart__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.card-cart__btn {
  width: 25%;
  height: 50%;
  text-align: right;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
