.catalog-header {
  @include content-header;
  @include non-main-header;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 177px;
  background-color: $gray-border;
}

.catalog-header__title {
  @include page-title;
}
