.main-nav {
  display: none;
  margin-bottom: 15px;

  a {
    font-weight: 700;
    color: $black;
  }
}

.main-nav__list {
  li {
    box-shadow: 0 1px 0 $light-gray-shadow, inset 0 1px 0 $light-gray-shadow;
  }
}
