.site-list {
  display: flex;
  flex-wrap: wrap;
}

.site-list__item {
  width: 100%;
  height: 79px;
}

.site-list__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 76px;
}
