.reviews {
  position: relative;
  margin-bottom: 38px;

  &::after {
    @include zigzag;
  }
}

.reviews__title {
  font-size: 25px;
}

.reviews__list {
  margin-top: 15px;
  margin-bottom: 30px;
}

.reviews__content-wrapper {
  padding-bottom: 45px;
}

.reviews__button {
  width: 100%;
  font-size: 18px;
}

.reviews__content {
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 30px;
  color: $black-blue-text;
}

.reviews__controls {
  display: flex;
  width: 100%;
  height: 52px;
  margin-bottom: 38px;
}

.reviews__control {
  width: 50%;
  height: 100%;
}

// reviews__author-info
.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.reviews__author-profile {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: $black-blue-text;
}
