.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 177px;
  margin-bottom: 17px;
  background-color: $gray-border;
}

.form-header__title {
  font-size: 27px;
}
