<header class="page-header">
  <div class="page-header__wrapper">
    <div class="page-header__logo-wrapper">
      <a href="/" class="page-header__logo">
        <picture>
          <source
            media="(min-width: 1150px)"
            srcset="img/mishka-logo-desktop.svg"
          />
          <source
            media="(min-width: 768px)"
            srcset="img/mishka-logo-tablet.svg"
          />
          <img
            src="img/logo-mobile.svg"
            alt="Мишка логотип"
            width="86"
            height="35"
          />
        </picture>
      </a>
    </div>
    <button class="page-header__toggle" type="button">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <nav class="page-header__site-nav main-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="catalog.html">Каталог товаров</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="form.html">Вязание на заказ</a>
        </li>
      </ul>
    </nav>
    <nav class="page-header__user-nav main-nav">
      <ul class="user-nav__list">
        <li class="user-nav__item user-nav__search">
          <a class="user-nav__search-link user-nav__link" href="#">
            <svg class="user-nav__svg" width="18" height="18">
              <use xlink:href="img/sprite.svg#icon-search"></use>
            </svg>
            <span class="user-nav__search-title"> Поиск по сайту </span>
          </a>
        </li>
        <li class="user-nav__item user-nav__cart">
          <a class="user-nav__cart-link user-nav__link" href="#">
            <svg class="user-nav__svg" width="18" height="18">
              <use xlink:href="img/sprite.svg#icon-cart"></use>
            </svg>
            Корзина:&nbsp
            <span class="user-nav__cart-value">пока пуста</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="page-header__additional-info additional-info">
      <ul class="additional-info__list">
        <li class="additional-info__item">
          <a href="#" class="additional-info__link"> Новые поступления </a>
        </li>
        <li class="additional-info__item">
          <a href="#" class="additional-info__link"> Распродажа </a>
        </li>
      </ul>
      <p class="additional-info__delivery">Бесплатная доставка по России</p>
    </div>
  </div>
</header>
