.page-footer {

  background-color: $gray-border;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;

  @include margin-wrapper;
}

.page-footer__wrapper > * {
  flex-basis: 100%;
  height: 80px;
}

.page-footer__wrapper > *:not(:last-child) {
  border-bottom: 1px solid $footer-gray-border;
}
