.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-list__item {
  width: 100%;
  height: 79px;
}

.user-list__link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 76px;
}

.user-list__svg {
  position: absolute;
  left: 2em;
  fill: $black;
}

