$black: #000000;
$white: #ffffff;
$gray-border: #f1f1f1;
$footer-gray-border: #e5e5e5;
$light-gray-shadow: #ececec;
$green-text: #63d1bb;
$black-blue-text: #444444;
$green-left-btn: #63d1bb;
$green-left-btn-hover: #59d5bc;
$green-right-btn: #56c3b2;
$green-right-btn-hover: #46c1ae;
$green-svg-opacity50: rgba(#149080, 50%);
$green-svg-opacity30: rgba(#149080, 30%);
$green-svg-opacity70: rgba(#149080, 70%);

$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-margin: 30px;
$non-mobile-margin: 50px;

$header-shadow: 0 1px 0 $light-gray-shadow, inset 0 1px 0 $light-gray-shadow;
