$black: #000000;
$white: #ffffff;
$background-gray: #f9f9f9;
$gray-border: #f1f1f1;
$footer-gray-border: #e5e5e5;
$light-gray-shadow: #ececec;
$green-text: #63d1bb;
$green-text-opacity30: rgba(#63d1bb, 30%);
$radio-green: #62d1ba;
$black-blue-text: #444444;
$black-blue-text-opacity30: rgba(#444444, 30%);
$green-left-btn: #63d1bb;
$green-left-btn-opacity70: rgba(#63d1bb, 70%);
$green-left-btn-hover: #59d5bc;
$green-right-btn: #56c3b2;
$green-right-btn-hover: #46c1ae;
$green-svg-opacity50: rgba(#149080, 50%);
$green-svg-opacity30: rgba(#149080, 30%);
$green-svg-opacity70: rgba(#149080, 70%);
$social-background: rgba(196, 196, 196, 0.5);
$black-opacity30: rgba(#000000, 30%);
$black-opacity10: rgba(#000000, 10%);
$black-opacity60: rgba(#000000, 60%);
$white-opacity30: rgba(#ffffff, 30%);

$tablet-width: 768px;
$desktop-width: 1150px;
$only-mobile-width: 767px;

$mobile-margin: 30px;
$non-mobile-margin: 50px;
$header-bottom-row-size: 50px;

$header-shadow: 0 1px 0 $light-gray-shadow, inset 0 1px 0 $light-gray-shadow;
